<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>icon</key>
			<string>tracker-isoke.png</string>
			<key>name</key>
			<string>Isoke</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tracker-faraji.png</string>
			<key>name</key>
			<string>Faraji</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tracker-rakanja.png</string>
			<key>name</key>
			<string>Rakanja</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tracker-sanjo.png</string>
			<key>name</key>
			<string>Sanjo</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tracker-zahra.png</string>
			<key>name</key>
			<string>Zahra</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tracker-aren.png</string>
			<key>name</key>
			<string>Aren</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tracker-mkali.png</string>
			<key>name</key>
			<string>Mkali</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tracker-alem.png</string>
			<key>name</key>
			<string>Alem</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tracker-miniya.png</string>
			<key>name</key>
			<string>Miniya</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tracker-ghele.png</string>
			<key>name</key>
			<string>Ghéle</string>
		</dict>
	</array>
	<key>iconHeight</key>
	<integer>40</integer>
</dict>
</plist>
